/* Sidebar */
.employee-menu-drawer ion-content {
    --background: #ffffff;
}

ion-menu {
    --ion-background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

ion-menu ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
}

.employee-menu {
    padding-top: 10px;
}

.employee-menu ion-item {
    --background: transparent;
    --color: #636e72;
    --min-height: 50px;
    font-weight: 500;
    margin: 4px 12px;
    border-radius: 8px;
    --padding-start: 12px;
}

.employee-menu ion-item.item-active,
.employee-menu ion-item:hover {
    --background: var(--ion-color-primary-tint);
    --color: white;
    font-weight: 600;
}

.employee-menu ion-icon {
    margin-right: 12px;
    font-size: 20px;
}

/* Main Content Header */
#employee-main ion-toolbar {
    --background: white;
    --color: var(--ion-text-color);
    --border-width: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
}

#employee-main ion-title {
    font-weight: 700;
    font-size: 1.2rem;
}